<div id="activated-content" class="row view-task">
    <div class="col-sm-11 col-md-9 col-lg-9 col-xl-10 w-100 main view-task-main activated_accounts-list">
    
    </div>
<!-- Modal -->
<div class="modal fade" id="staticBackdropRefuse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Khoá tài khoản?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        {Username}
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger">Khoá TK</button>
        </div>
    </div>
    </div>
</div>
    <!-- Chart cho đẹp -->
    
</main>
</div>
</div>