
<div class="row view-task" id="admin_withdraw-content">
    <h1>Danh sách giao dịch rút tiền</h1>
    
    
    <div class="col-sm-11 col-md-9 col-lg-9 col-xl-10 w-100 main view-task-main " id="admin_withdraw-list">
        

    </div>
</div>