<div class="row view-task" id="admin_transfer-content">
    <h1>Danh sách giao dịch chuyển tiền</h1>
    
    
    <div class="col-sm-11 col-md-9 col-lg-9 col-xl-10 w-100 main view-task-main" id="admin_transfer-list">
        

    </div>
</div>