<main>
        <div class="container-fluid px-4">
            <h1 class="mt-4 mb-3">Danh sách user bị cấm vô thời hạn</h1>
            
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white">
                        <div class="card-body">TK đã kích hoạt</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="/admin/activated">Xem chi tiết</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">TK vô hiệu hoá</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="/admin/deactivated">Xem chi tiết</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">TK chờ kích hoạt</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="/admin/waiting">Xem chi tiết</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">TK đã khoá</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="/admin/ban">Xem chi tiết</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </main>
                    <div class="row view-task">
                        <div class="col-sm-11 col-md-9 col-lg-9 col-xl-10 w-100 main view-task-main ">
                            <div class="view-task border border-3 rounded">
                                <div class="task-detail p-2"> 
                                    <span class="task-name h4">Đăng nhập quá số lần</span>
                                    <p class="task-people h5">Username: <span class="task-people-name h5 font-italic">079292923</span> </p>
                                    <p class="task-describe h6">
                                        Ngày khoá: 16/05/2022
                                    </p>
                                </div>
                                <button type="button" class="container_btn--primary btn btn-outline-danger p-2" data-bs-toggle="modal" data-bs-target="#staticBackdropRefuse"><i style="margin-right: 6px;" class="fa-solid fa-x"></i></i>Từ chối</button>

                                <button type="button" class="container_btn--primary btn btn-outline-success p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i style="margin-right: 6px;" class="fa fa-check" aria-hidden="true"></i>Gỡ khoá</button>
                            </div>
        
                            <div class="view-task border border-3 rounded">
                                <div class="task-detail p-2"> 
                                    <span class="task-name h4">Hơn 6 tháng chưa có giao dịch</span>
                                    <p class="task-people h5">Username: <span class="task-people-name h5 font-italic">079292923</span> </p>
                                    <p class="task-describe h6">
                                        Ngày khoá: 15/05/2022
                                    </p>
                                </div>
                                <button type="button" class="container_btn--primary btn btn-outline-danger p-2" data-bs-toggle="modal" data-bs-target="#staticBackdropRefuse"><i style="margin-right: 6px;" class="fa-solid fa-x"></i></i>Từ chối</button>

                                <button type="button" class="container_btn--primary btn btn-outline-success p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i style="margin-right: 6px;" class="fa fa-check" aria-hidden="true"></i>Gỡ khoá</button>
                            </div>
        
                            <div class="view-task border border-3 rounded">
                                <p>
                                    Con cò bé bé, nó đậu cành treeeeeeeeeeeeeeeeeeeeeee
                                </p>
                                <button type="button" class="container_btn--primary btn btn-outline-danger p-2" data-bs-toggle="modal" data-bs-target="#staticBackdropRefuse"><i style="margin-right: 6px;" class="fa-solid fa-x"></i></i>Từ chối</button>

                                <button type="button" class="container_btn--primary btn btn-outline-success p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i style="margin-right: 6px;" class="fa fa-check" aria-hidden="true"></i>Gỡ khoá</button>
                            </div>
        
                            <div class="view-task border border-3 rounded">
                                <p>
                                    Con cò bé bé, nó đậu cành treeeeeeeeeeeeeeeeeeeeeee
                                </p>
                                <button type="button" class="container_btn--primary btn btn-outline-danger p-2" data-bs-toggle="modal" data-bs-target="#staticBackdropRefuse"><i style="margin-right: 6px;" class="fa-solid fa-x"></i></i>Từ chối</button>

                                <button type="button" class="container_btn--primary btn btn-outline-success p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i style="margin-right: 6px;" class="fa fa-check" aria-hidden="true"></i>Gỡ khoá</button>
                            </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Gỡ khoá?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Tài khoản {Username}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-success">Chấp thuận</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="modal fade" id="staticBackdropRefuse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Khoá vĩnh viễn tài khoản?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {Username}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-danger">Khoá</button>
                            </div>
                        </div>
                        </div>
                    </div>
                        <!-- Chart cho đẹp -->
                        
                </main>
            </div>
        </div>