<div class="login_content change_pass">
    <h1 class="login_title">CHANGE PASSWORD</h1>
    <div class="login_wrapper change_pass">
        <div class="login_box change_pass">
            <h6 class="login_box-title change_pass">Old Pass</h6>
            <input type="password" name="" id="change_pass-old_pass" class="login_box-input">
            <span class="login_box-msg change_pass old_pass"></span>
        </div>

        <div class="login_box change_pass">
            <h6 class="login_box-title change_pass">New Password</h6>
            <input type="password" id="change_pass-new_pass" class="login_box-input">
            <span class="login_box-msg new_pass change_pass"></span>
        </div>

        <div class="login_box change_pass">
            <h6 class="login_box-title change_pass">Reenter Password</h6>
            <input type="password" id="change_pass-reenter_pass" class="login_box-input">
            <span class="login_box-msg reenter_pass change_pass"></span>
        </div>

        <div>
            <span class="login_box-msg last change_pass"></span>
        </div>

       <div>
           <button type="button" class="btn btn-primary btn-lg btn-block" onclick="handleChangePass()">SUBMIT</button>
       </div>
    </div>
</div>