<div class="content_index">
                    <div class="row">
                        <!-- big left -->
                        <div class="col-md-7 col-sm-12">

                            <div class="dashboard_account-brief_info">
                                <div class="brief-wrapper">
                                    <div class="brief-upper">
                                        <div class="brief_info-user">
                                            <p class="brief_info-user_title">Account Number</p>
                                            <span class="brief_info-user_data">12345678</span>
                                        </div>
    
                                        <div class="brief_info-user">
                                            <p class="brief_info-user_title">Account Type</p>
                                            <span class="brief_info-user_data">Default</span>
                                        </div>
                                    </div>
    
                                    <div class="brief_info-account">
                                        <div class="brief_info-user">
                                            <p class="brief_info-user_title">Balance</p>
                                            <span class="brief_info-user_data">3,000,000 VND</span>
                                        </div>
    
                                        <div>
                                            <a href="/" type="button" class="btn btn-outline-light">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- history -->
                            <div class="dashboard_history">
                                <div class="dashboard_history-header">
                                    <!-- <div class="row">
                                        <div class="col-lg-5 col-md-7">

                                        </div>

                                        <div class="col-lg-3 col-md-0">
                                            
                                        </div>

                                        <div class="col-lg-4 col-md-5">
                                            
                                        </div>
                                    </div> -->
                                    <div class="row">

                                        <div class="dashboard_history-left col-lg-5 col-md-7">
                                            <h5 class="dashboard_history-title">Payment History</h5>

                                            <!-- helper hbs here -->
                                            <div class="transfer-source">
                                                <div class="transfer-source-name">
                                                    Monika
                                                </div>

                                                <div class="transfer-source-message">
                                                    Many many luck returns the day, hope you have a great day too.
                                                </div>
                                            </div>
                                            
                                            <div class="transfer-source">
                                                <div class="transfer-source-name">
                                                    Monika
                                                </div>

                                                <div class="transfer-source-message">
                                                    Many many luck returns the day, hope you have a great day too.
                                                </div>
                                            </div>

                                            <div class="transfer-source">
                                                <div class="transfer-source-name">
                                                    Monika
                                                </div>

                                                <div class="transfer-source-message">
                                                    Many many luck returns the day, hope you have a great day too.
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="dashboard_history-middle col-lg-3 col-md-0">
                                            <div class="right_attribute-date">Date</div>

                                            <!-- helper hbs here -->
                                            <div class="transfer-source">
                                                <div class="transfer-source-date">
                                                    21 Jan, 2020
                                                </div>
                                            </div>

                                            <div class="transfer-source">
                                                <div class="transfer-source-date">
                                                    21 Jan, 2020
                                                </div>
                                            </div>

                                            <div class="transfer-source">
                                                <div class="transfer-source-date">
                                                    21 Jan, 2020
                                                </div>
                                            </div>
                                        </div>

    
                                        <div class="dashboard_history-right col-lg-4 col-md-5">
                                            <div class="right_attribute-debit">Debit</div>

                                            <!-- helper hbs here -->
                                            <div class="transfer-source">
                                                <div class="transfer-source-debit receive">
                                                    300,000 VND
                                                </div>
                                            </div>

                                            <div class="transfer-source">
                                                <div class="transfer-source-debit send">
                                                    300,000,000 VND
                                                </div>
                                            </div>

                                            <div class="transfer-source">
                                                <div class="transfer-source-debit send">
                                                    300,000,000,000,000,000,000 VND
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                            
                        
                        </div>
                        
                        <!-- big right -->
                        <div class="col-md-5 col-sm-0 account-summary">
                            <div class="notifications">
                                <h5 class="notifications-title">Latest notifications</h5>
                                
                                <!-- if else hbs here -->
                                <span class="notifications-empty">There is no notifcation</span>
                                
                                <ul class="notifications-list list-group list-group-flush">
                                    <li class="notifications-item list-group-item">
                                        Cannot access full service. Your account is unauthorized. Please check in Profile section
                                    </li>

                                    <li class="notifications-item list-group-item">
                                        +300,000 VND from Monika, account number: 2223324469
                                    </li>
                                </ul>
                            </div>
                        </div>
                    
                    
                        
                    </div>
                </div>