<div class="login_content first_change">
    <h1 class="login_title first_change">CHANGE YOUR DEFAULT PASSWORD</h1>
    <div class="login_wrapper first_change">

        <div class="login_box first_change">
            <h6 class="login_box-title first_change">New Password</h6>
            <input type="password" id="first_change-new_pass" class="login_box-input">
            <span class="login_box-msg new_pass first_change"></span>
        </div>

        <div class="login_box first_change">
            <h6 class="login_box-title first_change">Reenter Password</h6>
            <input type="password" id="first_change-reenter_pass" class="login_box-input">
            <span class="login_box-msg reenter_pass first_change"></span>
        </div>

        <div>
            <span class="login_box-msg last first_change"></span>
        </div>

       <div>
           <button type="button" class="btn btn-primary btn-lg btn-block" onclick="handleFirstChange()">SUBMIT</button>
       </div>
    </div>
</div>