<div class="login_content forget_pass">
    <h1 class="login_title">FORGET PASSWORD</h1>
    <div class="login_wrapper forget_pass">
        <div class="login_box forget_pass">
            <h6 class="login_box-title forget_pass">Email</h6>
            <input type="text" name="" id="forget_pass-email" class="login_box-input" placeholder="abc@gmail.com">
            <span class="login_box-msg forget_pass email"></span>
        </div>

        <div class="login_box forget_pass">
            <h6 class="login_box-title forget_pass">Phone number</h6>
            <input type="number" id="forget_pass-phone_num" class="login_box-input" placeholder="0984984984">
            <span class="login_box-msg pass forget_pass"></span>
        </div>

        <div class="login_box forget_pass">
            <h6 class="login_box-title forget_pass">New Password</h6>
            <input type="password" id="forget_pass-new_pass" class="login_box-input">
            <span class="login_box-msg new_pass forget_pass"></span>
        </div>

        <div class="login_box forget_pass">
            <h6 class="login_box-title forget_pass">Reenter Password</h6>
            <input type="password" id="forget_pass-reenter_pass" class="login_box-input">
            <span class="login_box-msg reenter_pass forget_pass"></span>
        </div>

        <div>
            <span class="login_box-msg last forget_pass"></span>
        </div>

       <div>
           <button type="button" class="btn btn-primary btn-lg btn-block" onclick="handleForgetPass()">SUBMIT</button>
       </div>

       <div>
           <a href="/login">Back to login</a>
       </div>
    </div>
</div>