<div class="login_content">
    <h1 class="login_title">LOGIN</h1>
    <div class="login_wrapper">
        <div class="login_box">
            <h6 class="login_box-title">Username</h6>
            <input type="text" name="" id="login_box-username" class="login_box-input" placeholder="1111111111">
            <span class="login_box-msg username"></span>
        </div>

        <div class="login_box">
            <h6 class="login_box-title">Password</h6>
            <input type="password" id="login_box-password" class="login_box-input" placeholder="Password">
            <span class="login_box-msg pass"></span>
        </div>

        <div>
            <span class="login_box-msg last"></span>
        </div>

       <div>
           <button type="button" class="btn btn-primary btn-lg btn-block" onclick="handleLogin()">Login</button>
       </div>

       <div class="login_box-options">
           <a href = '/register' class="login_box-register">Register</a>
           <a href = '/forget_pass' class="login_box-forget">Forget Password</a>
       </div>
    </div>
</div>