<div class="account_content">
                    <div class="account_content-avatar_wrapper" >
                        <div class="account_content-avatar">
                            <img class = "account_content-avatar_img" src="images/avatar/unknown_person.png" alt="avatar">
                        </div>

                        <div class="account_content-icon">
                            <i class="fas fa-camera text-success "></i>
                        </div>
                    </div>

                    <div class="row profile_wrapper" action="" method="post" >
                        <div class="col-md-6">
                            <div class="input_form">
                                <p class="input_form-title">Username: </p>
                                <div class="input_form-holder input-disable">#234325431</div>
                            </div>

                            <div class="input_form">
                                <p class="input_form-title">Email: </p>
                                <div class="input_form-holder" contenteditable="true">abc@gmail.com
                                    
                                    <i class="fas fa-upload input_form-icon_submit" onclick="handleUpdateInfo(this)"></i>
                                </div>
                            </div>

                            <div class="input_form">
                                <p class="input_form-title">Address: </p>
                                <div class="input_form-holder" contenteditable="true">123 Ly Tu Trong, Nha Trang, Khanh Hoa
                                    <i class="fas fa-upload input_form-icon_submit" onclick="handleUpdateInfo(this)"></i>
                                </div>
                            </div>

                            <div class="input_form">
                                <p class="input_form-title">Front ID image: </p>
                                <input type="file" class="input_form-holder">
                            </div>
                        
                            <!-- change pass btn -->
                            <div class="input_form">
                                <p class="input_form-title">Change pass: </p>
                                <a href="/" type="button" class="btn btn-outline-warning input_form-pass_btn">Change password</a>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input_form">
                                <p class="input_form-title">Ho va ten: </p>
                                <div class="input_form-holder" contenteditable="true">Nguyen Van A
                                    <i class="fas fa-upload input_form-icon_submit" onclick="handleUpdateInfo(this)"></i>
                                </div>
                            </div>

                            <div class="input_form">
                                <p class="input_form-title">Contact: </p>
                                <div class="input_form-holder" contenteditable="true">123456789
                                    <i class="fas fa-upload input_form-icon_submit" onclick="handleUpdateInfo(this)"></i>
                                </div>
                            </div>

                            <div class="input_form">
                                <p class="input_form-title">Ngay sinh: </p>
                                <input type="date" class="input_form-holder">
                            </div>

                            <div class="input_form">
                                <p class="input_form-title">Back ID image: </p>
                                <input type="file" class="input_form-holder">
                            </div>

                            
                            <div class="input_form">
                                <p class="input_form-title submission">Update ID images: </p>
                                <button type = "submit" class="btn btn-primary input_form-pass_btn">Update</button>
                            </div>
                        </div>
                    </div>

                </div>