<div class="account_content">
                    <div class="account_content-avatar_wrapper" >
                        <div class="account_content-avatar">
                            <img class = "account_content-avatar_img" src="images/avatar/unknown_person.png" alt="avatar">
                        </div>

                        <div class="account_content-icon">
                            <i class="fas fa-camera text-success "></i>
                        </div>
                    </div>

                    <div class="row profile_wrapper" action="" method="post" >
                        <div class="col-md-6 left-half">
                            <div class="input_form">
                                <p class="input_form-title">Username: </p>
                                <div class="input_form-holder username input-disable"></div>
                            </div>

                            <div class="input_form">
                                <p class="input_form-title">Trang thai: </p>
                                <div class="input_form-holder status"></div>
                            </div>

                           <div class="input_form">
                                <p class="input_form-title">Ngay sinh: </p>

                                <div class="profile_holder-wrapper">
                                    <div class="input_form-holder date_birth"></div>
                                    
                                </div>
                            </div>

                            {{!-- <form
                                method="put"
                                action="/users/updateIdentityCard"
                                enctype="multipart/form-data" 
                                class="profile_update-id_wrapper"
                            >
                                <div class="input_form">
                                    <p class="input_form-title front_id">Front ID image: </p>
                                    <input type="file" name = "id_front" class="input_form-holder front_id" accept="image/*">
                                </div>


                                <div class="input_form">
                                    <p class="input_form-title">Back ID image: </p>
                                    <input type="file" name="id_back" class="input_form-holder back_id " accept="image/*">
                                </div>

                                
                                <div class="input_form">
                                    <p class="input_form-title submission">Update ID images: </p>
                                    <span class="update_id-span"></span>
                                    <button type = "submit" class="btn btn-primary input_form-pass_btn">Update</button>
                                </div>
                            </form> --}}
                            
                        </div>

                        <div class="col-md-6">
                            <div class="input_form">
                                <p class="input_form-title">Ho va ten: </p>
                                <div class="profile_holder-wrapper">
                                    <div class="input_form-holder full_name"></div>
                                    
                                </div>
                            </div>

                             <div class="input_form">
                                <p class="input_form-title">Email: </p>

                                <div class="profile_holder-wrapper">
                                    <div class="input_form-holder email"></div>
                                    
                                </div>
                            </div>

                            <div class="input_form">
                                <p class="input_form-title">Address: </p>
                                

                                <div class="profile_holder-wrapper">
                                    <div class="input_form-holder address"> </div>
                                    
                                </div>
                            </div>

                            <div class="input_form">
                                <p class="input_form-title">Contact: </p>
                                

                                <div class="profile_holder-wrapper">
                                    <div class="input_form-holder phone_number"></div>
                                    
                                </div>
                            </div>
                            
                            <!-- change pass btn -->

                            <div class="input_form change_pass">
                                <p class="input_form-title">Change pass: </p>
                                <a href="/change_pass" type="button" class="btn btn-outline-warning input_form-pass_btn">Change password</a>
                            </div>
                            
                        </div>
                    </div>

                </div>