<form 
    action="users/register" 
    method="post" 
    class="login_content register"
    enctype="multipart/form-data" 
    id="register-form"   
>
    <h1 class="login_title register">REGISTER</h1>
    <div  class="login_wrapper register">
        <div class="login_box register">
            <h6 class="login_box-title register">Full name</h6>
            <input type="text" name="hoten" id="register_box-name" class="login_box-input" placeholder="Nguyen Van A">
            <span class="login_box-msg phonenumber register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Email</h6>
            <input type="text" name = "email" id="register_box-email" class="login_box-input register" placeholder="abc@gmail.com">
            <span class="login_box-msg email register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Date of birth</h6>
            <input type="date" name="dateBirth" id="register_box-date_birth" class="login_box-input register">
            <span class="login_box-msg date_birth register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Address</h6>
            <input type="text" name = "address" id="register_box-address" class="login_box-input register" placeholder="123 Ly Tu Trong, Nha Trang, Khanh Hoa">
            <span class="login_box-msg address register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Front ID</h6>
            <input type="file" name = "cmndTruoc" accept="image/*" id="register_box-id_front" class="login_box-input register">
            <span class="login_box-msg front_id register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Back ID</h6>
            <input type="file" name = "cmndSau" accept="image/*" id="register_box-id_back" class="login_box-input register">
            <span class="login_box-msg back_id register"></span>
        </div>

        <div class="login_box register">
            <h6 class="login_box-title register">Phone number</h6>
            <input type="number" name="phoneNumber" id="register_box-phone" class="login_box-input" placeholder="01357896348">
            <span class="login_box-msg phonenumber register"></span>
        </div>

       
    </div>

        <div>
            <span class="login_box-msg last register"></span>
        </div>

        <div>
           <button type="submit" class="btn btn-primary btn-lg btn-block" id="register_box-btn">Register</button>
       </div>

       <div>
           <a href="/login">Back to login</a>
       </div>
</form>

