<div id="main" class="container mt-5">
			<div class="form_side">
			
			<form method="get" id="demoForm" class="centered" action="">
				<h2 style="margin-top: 0.2rem; padding: 0.4rem;">SIGN UP</h2>
				<p>
					<label>Phone</label>
					<input name="phone" type="text" placeholder="Phone number">
				</p>
				<p>
					<label>Email</label>
					<input id="email" type="text" name="email" placeholder="name@example.com">
				</p>
				<p>
					<label>Date of Birth</label>
					<input id="dateOfBirth" type="date" name="dateOfBirth" placeholder="MM/DD/YYYY">
				</p>
				<p>
					<label>Address</label>
					<input id="address" name="address" type="text" placeholder="Address">
				</p>
				<p>
					<label>Frontside ID Card</label>
					<input id="cmnd_front" name="cmnd_front" type="file" accept="image/png, image/gif, image/jpeg" required/>
				</p>
				<p>
					<label>Backside ID Card</label>
					<input id="cmnd_back" name="cmnd_back" type="file" accept="image/png, image/gif, image/jpeg" required/>
				</p>
				<hr>
		
				<p>
				<button type="submit" class="registerbtn" value="Register" id="register"> Sign up
				</p>
				</form>

		</div>
		<div class="container signin">
			<p>Already signed up?<a href="login.html"> Sign in</a>.</p>
		</div>
</div>