<div class="transfer_content">
    <div class="transfer_content-payee_box">
        <div class="row">
            <div class="payee_box-search col-lg-8 col-sm-12">
            
                <div contenteditable="true" class="payee_box-input" data-placeholder="Search here ...">
                    <i class="fas fa-search payee_box-icon_search"></i>
                    
                    <i class="fas fa-backspace payee_box-icon_del"></i>
                </div>

                <div class="">
                    <i class="fas fa-plus-circle text-primary"></i>
                </div>
            </div>

            <div class="payee_box-payees col-lg-4 col-sm-0">
                
            </div>
        </div>
    </div>
</div>