.body{
    background-color: #EFF1F1;
    min-height: 100vh;
    padding: 24px;
    width: 100%;
}

.my_container{
    border-radius: 12px;
    background-color: white;
    padding-top: 10px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.header_navbar{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10;
}

.header_navbar-logo{
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
}

.header_navbar-logo_brand{
    line-height: 10px;
    margin-left: 8px;
    margin-top: 10px;
}

.logo_brand-name{
    font-size: 20px;
    font-weight: 500;
}

.logo_brand-span{
    color: #B5B9C3;
    font-size: 14px;
}

.header_navbar-right_navbar{
    display: flex;
    flex-wrap: wrap;
}

.header_navbar-signout{
    margin-right: 12px;
}

.header_navbar-signout_button{
    margin-top: calc(25% - 14px);
}

.header_navbar-user{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.header_navbar-user_info{
    line-height: 10px;
    margin-top: 10px;
    margin-left: 8px;
}

.header_navbar-user_name{
    font-size: 16px;
    font-weight: 500;
    color: #A2ABC7;
}

.header_navbar-user_id{
    font-size: 12px;
    color: #B5B9C3;
}

.header_navbar-user_icon{
    height: 50px;
    width: 50px;
}

.content{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.left_navbar{
    background-color: #51B4DD;
    width: fit-content;
}

.left_navbar-item{
    padding: 12px;
    cursor: pointer;
    color: #86D0E9;

}

.left_navbar-item:hover {
    background-color: #65C3E3;
    color: #FFFFFF;
}

[selected_nav]
{
    background-color: #65C3E3;
    color: #FFFFFF;
}

.left_navbar-icon{
    font-size: 32px;
    text-align: center;
    margin-left: calc(25% + 10px);
}

.left_navbar-title{
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.content_index{
    background-color: #FBFBFB;
    flex: 1;
    
}

.notifications{
    display: block;
    background-color: #FFFFFF;
    padding:  12px;
    margin: 12px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.notifications-title{
    color: #838383;
    font-size: 18px;
}

.notifications-empty{
    color: #E5E9ED;
    font-size: 16px;
}

.notifications-list{
    list-style: none;
}

.notifications-item{
    text-decoration: none;
}  

.dashboard_account-brief_info{
    display: block;
    background-color: #FFFFFF;
    padding:  12px;
    margin: 12px;

}

.brief-wrapper{
    background-color: #5FC5BB;
    border-radius: 12px;
    padding: 16px;
}

.brief-upper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brief_info-account{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brief_info-user{
    line-height: 12px;
    margin-bottom: 20px;
}

.brief_info-user_title{
    color: #85D5CC;
    font-size: 20px;
}

.brief_info-user_data{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

/* history dashboard*/
.dashboard_history{
    background-color: white;
    padding: 12px;
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 300px;
    
    overflow-y: scroll;
    overflow-x: hidden;
}

.dashboard_history-header{
    display: flex;
    justify-content: space-between;

}

.dashboard_history-left{

}

.dashboard_history-title{
    color: #6E6E6E;
    margin-bottom: 14px;

    display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

/* .dashboard_history-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.right_attribute-date{
    display: block;
    padding: 4px 10px;
    background-color: #E5E9ED;
    border-radius: 16px;
    color: #BBC6CF;
    text-align: center;
    margin-bottom: 14px;
}

.right_attribute-debit{
    display: block;
    padding: 4px 10px;
    background-color: #F7DCDC;
    border-radius: 16px;
    color: #EFB3B2;
    text-align: center;
    margin-bottom: 14px;
}

.transfer-source.brief_box{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 4px 4px;
    cursor: pointer;
}

.transfer-source_avatar-box{
    border-radius: 50%;
    background-color: #F5EEE5;
    padding: 12px;
}

.transfer-source.brief_box:hover{
    background-color: #E9DBDA;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.transfer-source-avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.transfer-source-name{
    color: #7D89B1;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.transfer-source-message{
    color: #6E6E6E;
    font-size: 16px;

    display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

.transfer-source-date{
    margin-top: 25px;
    color: #C6CCD6;
    font-size: 18px;
    text-align: center;
}

.transfer-source-debit{
    margin-top: 20px;
    
    font-size: 20px;
    font-weight: 600;

    display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

.transfer-source-debit.receive{
    color: #73BEAC; 
}

.transfer-source-debit.send{
    color: #EE706A; 
}


.detail_container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.detail_box{
    
}

.detail_box-title{
    color: #6E6E6E;
    font-weight: 500;
    font-size: 20px;
}

.detail_box-value{
    color: #65C3E3;
    font-weight: 600;
}

.detail_box-value.status{
    display: block;
    padding: 4px 12px;
    color: white;
    background-color: yellow;
    border-radius: 12px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.detail_box-message{
    padding: 0 16px;
}

.fee_radio{
    font-weight: 500;
    color: #EA4C89;
    display: flex;
    justify-content: space-evenly;
}

.transfer_input-PIN{
    margin: 0 auto;
}

/* account */
.account_content{
    display: flex;
    justify-content: center;
    flex: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
    background-color: #FFFFFF;
    margin: 12px;
    padding: 20px;

    flex-direction: column;
    margin-top: 0;
}

.account_content-avatar_wrapper{
    position: relative;
    cursor: pointer;
    margin-bottom: 70px;
}

.account_content-avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* padding: 8px; */
    margin-left: 50%;
}

.account_content-avatar_img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.account_content-icon{
    font-size: 24px;
    position: absolute;
    right: calc(50% - 20px);
    top: 0;
}

.profile_wrapper{
    
}

.input_form{
    margin-bottom: 10px;
    
}

.input_form-title{

}

.input_form-holder{
    display: flex;
    padding: 8px 14px;
    border: 1px solid #EEEBEE;
    border-radius: 12px;
    /* margin-bottom: 10px; */
    justify-content: space-between;
    width: 100%;
}

.input_form-holder.input-disable{
    background-color: #ECE9EC;
}

.input_form-pass_btn{
    
}

.input_form-title.submission{
    font-weight: 600;
    color: #28A745;
}

.input_form-icon_submit{
    z-index: 100;
    margin-top: 4px;
    cursor: pointer;
}

/* Tranfer */
.transfer_content{
    display: flex;
    flex: 1;
    padding: 20px
}

.transfer_content-payee_box{
    display: block;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;

    padding: 20px;
}

.payee_box-search{
    
}

.payee_box-input{
    display: flex;
    border-radius: 8px;
    border: 1px solid #F2F2F3;
    padding: 12px;
    justify-content: space-between;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.payee_box-input_holder{
    border: none;
    margin: 0;
    width: 88%;
}

.payee_box-icon_search{
    align-items: center;
    margin-top: 4px;
}

.payee_box-icon_del{
    margin-top: 4px;
    cursor: pointer;
    z-index: 100;
}

.payee_box-accounts{
    width: 100%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 18px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.payee_box-accounts_title{
    margin-bottom: 14px;
    color: #858585;
}

.payee_box-accounts_users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.payee_box-accounts_users-wrapper{
    cursor: pointer;
}

.accounts_users-item{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 18px;
}

.accounts_users-item_img{
    width: 50px;
    height: 50px;
}

.accounts_users-item_name{
    text-align: center;
    font-weight: 500;
    color: #97A1C0;
    margin: 0;
}

/* .accounts_users-item_id{
    color: #E8EAEA;
    text-align: center;
} */

.payee_box-payees{
    
    
}

.payee_box-transfer_box{
    width: 100%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 18px;
    border-radius: 12px;
}

.transfer_box-title{
    text-align: center;
    margin-bottom: 14px;
    color: #51B4DD;
}

.transfer_box-form{

}

.transfer_box-form_item{
    margin-bottom: 14px;
}

.transfer_box-form_title{
    color: #858585;
    font-weight: 500;
}

.transfer_box-form_input{
    border-radius: 12px;
    border: 1px solid #F8F8F9;
    width: 100%;
    padding: 12px;
}

.transfer_box-form_balance{
    display: block;
    background-color: #65D8BD;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form_balance-item{

}

.form_balance-title{
    color: #E5E9ED;
    font-weight: 500;
}

.form_balance-amount{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

.transfer-confirm_total{
    color: #EA4C89;
    font-size: 24px;
    font-weight: 600;
}

.transfer_box-invalid_input{
    color: #EA4C89;
}

/* buy cards */
.buy_cards-content{
    background-color: #FBFBFB;
    display: flex;
    flex: 1;
    padding: 20px;
    width: 100%;
}

.buy_cards-content_row{
    width: 100%;
}

.buy_cards-item{
    background-color: white;
    
    padding: 12px;
    width: 100%;
    margin-bottom: 12px;
}

.buy_cards-item_title{
    color: #6E6E6E;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
}

.buy_cards-item_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buy_cards-item_col{
    
}

.item_list-item{
    border: 1px solid #E6E8E8;
    text-align: center;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    
    color: rgba(0, 0, 0, 0.16);
    font-weight: 500;
}

.item_list-item.selected{
    border: 1px solid #51B4DD;
    color: #51B4DD;
}

.buy_cards-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 14px;
    background-color: #5FC5BB;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 20px;
}

.header_box-title{
    color: #6E6E6E;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
}

.header_box-count{
    color: white;
    font-weight: 600;
    font-size: 18px
}

.header_box-count_number{
    font-size: 26px;
    color: #6E6E6E
}

.buy_cards-bill{
    background-color: white;
    border: 1px solid #65C3E3;
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.bill_title{
    color: #6E6E6E;
    font-size: 24px;
    font-weight: 500;
}

.bill_list-item_span{
    color: #A2AED3;
    font-size: 18px;
    font-weight: 600;
}

.bill_list-item_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #A2AED3;
    font-size: 14px;
    font-weight: 600;
}

.bill_list-total{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
}

.bill_list-total_title{
    color: #5FC5BB;
    font-weight: 500;
    font-size: 24px;

}

.bill_list-total_amount{
    color: #EA4C89;
    font-size: 24px;
    font-weight: 600;
}

.bill_list-confirm_total{
    color: #EA4C89;
    font-size: 24px;
    font-weight: 600;
}

/* Deposit */
.dep_with-content{
    background-color: #FBFBFB;
    display: flex;
    flex: 1;
}

.dep_with-row{
    width: 100%;
}

.deposit_form-wrapper{
    display: block;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
    margin: 12px;
    width: 100%;
}

.deposit_form-balance_box{
    background-color: #ECF9F4;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.balance_box-title{
    font-size: 18px;
    color: #5E7F73;
}

.balance_box-amount{
    color: #6442C8;
    font-size: 30px;
}

.deposit_wrapper-title{
    color: #007BFF;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
    text-align: center;
}

.deposit_form-form{

}

.deposit_form-box{
    margin-bottom: 20px;
}

.deposit_form-title{
    color: #6E6E6E;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.deposit_form-input{
    border-radius: 12px;
    border: 1px solid #E5E9ED;
    padding: 8px;
    width: 100%;
}

.deposit_form-box_grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 12px 12px;
}

.deposit_form-err{
    margin-top: 8px;
    color: #DC3545;
}

.deposit_wrapper-title.withdraw{
    color: #DC3545;
}

.withdraw_inform-box{
    margin: 12px 0;
    padding: 10px;
    display: block;
    background-color: #5FC5BB;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 12px;
}

.withdraw_inform-title{
    color: #F7F7F8;
    font-weight: 600;
    font-size: 20px;
}

.withdraw_inform-count{
    font-size: 26px;
    color: #DC3545;
    font-weight: 700;
}

.withdraw-confirm_total{
    font-size: 20px;
    color: #DC3545;
    font-weight: 700;
}


/* login */
.outside_lay{
    padding: 0 20%;
    background-color: #EEF0F0;
    min-height: 100vh;
    padding-top: 30px;
}

.login_content{
    display: block;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 12px;
    
    padding: 20px;
}

.login_title{
    text-align: center;
    color: #51B4DD;
}

.login_wrapper{

}

.login_box{
    margin-bottom: 20px;
}

.login_box-title{
    color: #6E6E6E;
    font-size: 20px;
    font-weight: 500;
}

.login_box-input{
    width: 100%;
    border-radius: 12px;
    border: 1px solid #EEF0F0;
    padding: 8px;
}

.login_box-msg{
    font-size: 20px;
    color: #DC3545;
    margin: 8px 0;
}

.login_box-options{
    display: flex;
    justify-content: center;
    margin: 12px auto;
    font-size: 18px;
}

.login_box-register{
    margin-right: 12px;
    color: #6E6E6E;
}

.login_box-forget{

}

/* register */
.login_content.register{
    
    
}

.login_wrapper.register{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 12px 10px;
}

/* flash msg*/
.flash_style{
    position: fixed;
}  
